.container{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.find_button{
    width: 40px;
    height: 30px;
    background-color: rgb(100, 241, 6);
}
.filter_container{
    width: 100%;
    cursor: pointer;
    padding:30px 0 20px 50px;
}
.wrapper{
    width: 20%;
}
.filter_title{
    width: 100%;
    display: flex;
    align-items: center;
}